.indivisual {
    display: flex;
    justify-content: space-between;
    background-color: gray;
    padding: 10px;
}
.indivisual>span {
    font-size: 25px;
    font-weight: bold;
}
.symbols {
    display: flex;
    gap: 4px;
}

.symbols img {
    width: 40px;
    background-color: white;
    height: 50px;
}

.task-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
@media (min-width: 400px) {
    .task-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
    }
}
@media (min-width: 600px) {
    .task-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-between;
    }
}

